<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="AliceGame" packages="">

    <Appenders>

        <RollingFile name="Service" fileName="D:/Projects/AliceGame/src/logs/app.log"
                     filePattern="logs/app-%d{MM-dd-yyyy}.log.gz">>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="Servlet" fileName="D:/Projects/AliceGame/src/logs/web.log"
                     filePattern="logs/app-%d{MM-dd-yyyy}.log.gz">>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="ErrorFile" fileName="D:/Projects/AliceGame/src/logs/error.log"
                     filePattern="logs/error-%d{MM-dd-yyyy}.log.gz">>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="UsersRepository" level="info" additivity="false">
            <AppenderRef ref="Service"/>
        </Logger>

        <Logger name="DialogService" level="info" additivity="false">
            <AppenderRef ref="Service"/>
        </Logger>

        <Logger name="QuestService" level="info" additivity="false">
            <AppenderRef ref="Service"/>
        </Logger>

        <Logger name="RoomService" level="info" additivity="false">
            <AppenderRef ref="Service"/>
        </Logger>

        <Logger name="GameMap" level="info" additivity="false">
            <AppenderRef ref="Service"/>
        </Logger>

        <Logger name="AppContextListener" level="info" additivity="false">
            <AppenderRef ref="Servlet"/>
        </Logger>

        <Logger name="DialogServlet" level="info" additivity="false">
            <AppenderRef ref="Servlet"/>
        </Logger>

        <Logger name="FinishServlet" level="info" additivity="false">
            <AppenderRef ref="Servlet"/>
        </Logger>

        <Logger name="InitServlet" level="info" additivity="false">
            <AppenderRef ref="Servlet"/>
        </Logger>

        <Logger name="QuestServlet" level="info" additivity="false">
            <AppenderRef ref="Servlet"/>
        </Logger>

        <Logger name="RoomsServlet" level="info" additivity="false">
            <AppenderRef ref="Servlet"/>
        </Logger>

        <Root name="RoomsServlet" level="ERROR">
            <AppenderRef ref="ErrorFile"/>
        </Root>

    </Loggers>
</Configuration>
