:root {
    --colorRed: #971717;
    --colorLight: #32302e;
    --colorDark: #201b12;
    --colorText: #a7925e;
}
/*Цвета*/
.colorRed {
    color: var(--colorRed);
}
.colorText {
    color: var(--colorText);
}
header {
    padding: 50px 0;
    background: var(--colorDark);
    background: -moz-linear-gradient(left,  var(--colorDark) 0%, var(--colorLight) 31%, var(--colorDark) 100%);
    background: -webkit-linear-gradient(left, var(--colorDark)  0%,var(--colorLight) 31%,var(--colorDark) 100%);
    background: linear-gradient(to right,  var(--colorDark) 0%,var(--colorLight) 31%,var(--colorDark) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#201b12', endColorstr='#201b12',GradientType=1 );
}
body {
    background: url(../img/fon.jpg);
    background-size: 100%;
}
section {
    padding: 50px 0;
}
.startButton {
    background-color: var(--colorRed);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all 0.2s ease;
}
.startButton:hover {
    background-color: var(--colorLight);
}
.nextButton {
    background-color: var(--colorLight);
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px 30px;
    color: var(--bs-white);

}
.nextButton:hover{
    color: var(--bs-white);
    background-color: var(--colorRed);
}
.roomButton {
    background: url(../img/button.png);
    color: var(--colorText);
}